/* element selector*/
body {
  background-color: rgb(3, 3, 3);
}
/* element selector*/
h1 {
  color: green;
}
/* Class selector*/
.info {
  color: green;
}
/* Class selector*/
.primary {
  color: white;
}
/* ID selector*/
#warning {
  color: white;
}

/* Grouping of selector*/
.info,
.primary {
  background-color: blue;
}
