/* Descendant Selectors # */
div h1 {
  color: red;
}

div h2 {
  color: red;
}

/* pseudo-class Selectors # */
a:link {
  color: black;
}
a:visited {
  color: purple;
}
a:hover {
  color: red;
}
a:active {
  color: green;
}
